.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.Header {

  width: 100vw;
  min-height: 65vh;
  position: relative;
  flex: content;
  background-image: url('/codingBackground.jpg');
  background-color: gray;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.headerText {
  height: 100%;
  width: 100%;

}

.Header p {
  color: rgba(73, 158, 214, 0.952);
  padding-bottom: '15px';
  font-size: '50px';
  font-family: bodini;
  font-weight: bold;
  filter: none;

}

.Header h2 {
  font-size: 100px;
  font-family: Teko;
  font-weight: bold;
  padding-bottom: '15px';
}


.aboutMePannel {
  background-color: lightgray;
  min-height: 45vh;
  width: 100vw;
  position: relative;
  display: block;
  text-align: center;
  align-items: center;
}

.details {
  position: relative;
  display: block;
  flex: content;
  margin-left: 25vw;
  margin-right: 25vw;
}

.details h2 {
  color: #6ab6d9;
  font-size: 50px;
  font-family: Teko;

}

.details p {
  color: black;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
  font-family: bodini;
  letter-spacing: 1px;
}

.skillsPannel {
  background-color: #d9dbda;
  width: 100vw;
  height: 40vh;
  position: relative;
  flex: content;
  text-align: center;
  display: flex;

}

.skillsItem {
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;

}

.carouselBackground {
  background-color: #d9dbda;
  height: 80vh;
  width: 100vw;
  position: relative;
  flex: content;
  text-align: center;
  display: block;
  padding-bottom: 50px;

}

.carouselCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 30vh;
  width: 20vw;
  position: relative;
  display: block;
  align-self: center;
  text-align: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.arrowImage {
  width: 10%;
  height: 10%;
}

.arrowImage:hover {
  cursor: pointer;
  transform: scale(1.2);

}

.footer {
  position: relative;
  background-color: rgb(40, 46, 48);
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}


.logo {
  position: relative;
  filter: grayscale(10);
  align-self: center;
  padding-bottom: 10px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
} */

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}